.git
.github
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.env
.env.backup
.env.production
.env.local
.idea
.vscode
.zed
.nova
.fleet
phpunit.xml
pint.json
npm-debug.log
yarn-error.log
pnpm-debug.log
docker-compose.yml
docker-compose.prod.yml
README.md
readme.md
*.md
