@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* @custom-variant dark (&:is(.dark *)); */

@theme {
    --font-sans:
        'Poppins', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-ubuntu:
        'Ubuntu', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* breakpoints */
    --breakpoint-bp575: 575px;
    --breakpoint-bp400: 400px;
    --breakpoint-bp360: 360px;
    --breakpoint-bp1650: 1650px;

    /* animation */
    --animate-fade-up: fade-up 0.8s ease-in-out forwards;
    --animate-fade-left: fade-left 0.8s ease-in-out forwards;

    @keyframes fade-up {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-left {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

:root {
    --background: #f9fffc;
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: #126936;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: #f2ca1d;
    --secondary-foreground: oklch(0.205 0 0);
    --tertiary: #94be40;
    --fourth: #1c5352;
    --font-color: #1e1e1e;
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

/* .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
} */

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    /* text size */
    .t-size1 {
        @apply text-[0.6rem] bp360:text-[0.7rem] bp400:text-xs bp1650:text-base md:text-[0.8rem] xl:text-[0.83rem] 2xl:text-sm;
    }

    .t-size2 {
        @apply text-[0.7rem] bp360:text-xs bp400:text-[0.8rem] bp1650:text-lg md:text-[0.83rem] xl:text-sm 2xl:text-base;
    }

    .t-size3 {
        @apply text-xs bp360:text-[0.8rem] bp400:text-[0.83rem] bp1650:text-xl md:text-sm xl:text-base 2xl:text-lg;
    }

    .t-size4 {
        @apply text-[0.8rem] bp360:text-[0.83rem] bp400:text-sm bp1650:text-[1.3rem] md:text-base xl:text-lg 2xl:text-xl;
    }
    .t-size5 {
        @apply text-[0.83rem] bp360:text-sm bp400:text-base bp1650:text-2xl md:text-lg xl:text-xl 2xl:text-[1.3rem];
    }
    .t-size6 {
        @apply text-sm bp360:text-base bp400:text-lg bp1650:text-[1.6rem] md:text-xl xl:text-[1.3rem] 2xl:text-2xl;
    }
    .t-size7 {
        @apply text-base bp360:text-lg bp400:text-xl bp1650:text-3xl md:text-[1.3rem] xl:text-2xl 2xl:text-[1.6rem];
    }
    .t-size7 {
        @apply text-lg bp360:text-xl bp400:text-[1.3rem] bp1650:text-[2rem] md:text-2xl xl:text-[1.6rem] 2xl:text-3xl;
    }
    .t-size8 {
        @apply text-xl bp360:text-[1.3rem] bp400:text-2xl bp1650:text-[2.3rem] md:text-[1.6rem] xl:text-3xl 2xl:text-[2rem];
    }

    /* animation */
    .fade-up {
        @apply animate-fade-up;
    }
}
